@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

/* 
base00  #1d2021  Default Background
base01  #3c3836  Lighter Background (Used for status bars, line number and folding marks)
base02  #504945  Selection Background
base03  #665c54  Comments, Invisibles, Line Highlighting
base04  #bdae93  Dark Foreground (Used for status bars)
base05  #d5c4a1  Default Foreground, Caret, Delimiters, Operators
base06  #ebdbb2  Light Foreground (Not often used)
base07  #fbf1c7  Light Background (Not often used)
base08  #fb4934  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #fe8019  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #fabd2f  Classes, Markup Bold, Search Text Background
base0B  #b8bb26  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #8ec07c  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #83a598  Functions, Methods, Attribute IDs, Headings
base0E  #d3869b  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #d65d0e  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> 
*/
/* 
  --base00: #1d2021; 
  --base01: #3c3836;
  --base02: #504945; 
  --base03: #665c54; 
  --base04: #bdae93; 
  --base05: #d5c4a1; 
  --base06: #ebdbb2; 
  --base07: #fbf1c7; 
  --base0D: #83a598; 
  */
:root {
  --base00: #1d2021;
  --base01: #3c3836;
  --base02: #504945;
  --base03: #665c54;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;
  --base07: #fbf1c7;
  --base0D: #83a598;
}

*::selection {
  background: var(--base02);
}

*::-moz-selection {
  background: var(--base02);
}



body {
  margin: 0;
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background-color: var(--base00);
  font-family: "Montserrat", sans-serif;
}

.footer_sec{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
   width: 100%;
  height: 12.5%;
}

.main_sec{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.overall_sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 25px 0px 25px;
  border-radius: 30px;
  border: 2px solid var(--base04);
  box-sizing: border-box;
}

.left_sec {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
}

.right_sec {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 30%;
}

.down_left_part{
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 65%;
}

.button_sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.code_snippet {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid var(--base04);
  overflow: hidden;
  box-sizing: border-box;
}

.option_sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 47%;
  height: 94%;
}

.live_sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 94%;
}

.slider1_sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  max-height: 70px;
  border-radius: 10px;
  border: 2px solid var(--base04);
}

.animtion_opt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}

.colorOps_sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}

.color_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}
.color_Palette {
  width: 25%;
  border-radius: 10px;
  border: 2px solid var(--base04);
  /* box-shadow: -3px 3px 0px var(--base04); */
  padding: 5px;
}

.live_preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}


.left_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.right_social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.right_social a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 75%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--base04);
  transition: 250ms;
}

.github_social h2 span{
  display: inline-block;
}
.github_social h2{
  text-align: center;
}
.right_social:active ,.right_social_shrink:active{
  transform: scale(0.95);
}
.right_social i {
  font-size: 2rem;
  color: var(--base05);
}

.shrink_col_right{
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  margin-bottom: 50px ;
}

.footer_sec_shrink{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
   width: 25%;
  height: 12.5%;
   margin-bottom: 20px ;
}

.down_left_part_shrink{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.left_social_shrink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.right_social_shrink {
 display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.right_social_shrink a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--base04);
  transition: 250ms;
}
.right_social_shrink i{
  font-size: 3rem;
  color: var(--base05);
}

.footer_sec_shrink img{
  border-radius: 20px;
  width: 60%;
}

/* ----------------------------- */

#code_html {
  display: none;
}



@media (max-width: 1754px) {

  body {
  margin: 0;
   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--base00);
  font-family: "Montserrat", sans-serif;
}
 .main_sec{
  width: 100%;
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.left_sec {
   margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 70vh;
}
.right_sec{
  display: none;
}
.right_sec_shrink {
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 55%;
  margin-bottom: 50px ;
}
.shrink_col_right{
  display: flex;
}
.footer_sec{
  display: none;
}
}


@media (max-width: 1100px) {

  body {
  margin: 0;
   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--base00);
  font-family: "Montserrat", sans-serif;
}
 .main_sec{
  width: 100%;
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.left_sec {
   margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 70vh;
}
.right_sec{
  display: none;
}
.right_sec_shrink {
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 55%;
  margin-bottom: 50px ;
}
.footer_sec_shrink{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
   width: 35%;
  height: 12.5%;
   margin-bottom: 20px ;
}
.shrink_col_right{
  display: flex;
}
.footer_sec{
  display: none;
}
}

@media (max-width: 1010px) {

  body {
  margin: 0;
   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--base00);
  font-family: "Montserrat", sans-serif;
}
 .main_sec{
  width: 100%;
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.left_sec {
   margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 100vh;
}
.option_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 94%;
}
.live_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 94%;
}
.overall_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--base04);
    box-sizing: border-box;
}
/* .right_sec {
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 95%;
} */
.right_sec_shrink {
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 55%;
  margin-bottom: 50px ;
}
.footer_sec_shrink{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
   width: 35%;
  height: 12.5%;
   margin-bottom: 20px ;
}
.shrink_col_right{
  display: flex;
}
.left_social_shrink {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer_sec{
  display: none;
}
}

@media (max-width: 1010px) {

  body {
  margin: 0;
   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--base00);
  font-family: "Montserrat", sans-serif;
}
 .main_sec{
  width: 100%;
   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.left_sec {
   margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 110vh;
}
.option_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 94%;
}
.live_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 94%;
}
.overall_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid var(--base04);
    box-sizing: border-box;
}
.right_sec {
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 95%;
  margin-bottom: 50px ;
}
.right_sec_shrink {
  margin-top: 50px ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 55%;
  margin-bottom: 50px ;
}

.shrink_col_right{
  display: none;
}
.left_social_shrink {
  display: none;
}
.footer_sec{
  display: flex;
}

.down_left_part{
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 65%;
}

.left_social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.right_social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}
.right_social a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 75%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid var(--base04);
  transition: 250ms;
}
}